
.registration-header
  .registration-header__top
    = link_to '#', class: "link" do
      = image_tag "mercari_widelogo.png",class:"registration-header__top__image"
  .wizard
    %ul.wizard__texts
      %li.wizard__texts__process
        会員情報　
      %li.wizard__texts__process.red
        電話番号認証
      %li.wizard__texts__process
        お届け先住所入力
      %li.wizard__texts__process
        支払い方法　　　
      %li.wizard__texts__process
        完了
    %ul.wizard__bar
      %li.wizard__bar__ball.red
      %li.wizard__bar__line.red
      %li.wizard__bar__ball.red
      %li.wizard__bar__line
      %li.wizard__bar__ball
      %li.wizard__bar__line
      %li.wizard__bar__ball
      %li.wizard__bar__line
      %li.wizard__bar__ball
.sms-confirmation
  .sms-confirmation__main
    .sms-confirmation__main__header
      電話番号の確認
    .sms-confirmation__main__form
      .sms-confirmation__main__form__content
        %label.sms-confirmation__main__form__content__title
          携帯電話の番号
        %input{type:"text",class:"sms-confirmation__main__form__content__input",placeholder:"携帯電話の番号を入力"}
        %p.sms-confirmation__main__form__content__user
          本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        %button{type:"submit",class:"sms-confirmation__main__form__content__button"}
          SMSを送信する
        %p.sms-confirmation__main__form__content
          ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .sms-confirmation__main__form__content__text
          = link_to '電話番号の確認が必要な理由＞',"/",class:"sms-confirmation__main__form__content"
  = render 'shared/grayfooter.html.haml'