= render 'shared/header'
%section.signout
  .main__section
    = render 'shared/user_sidebar'
    .main__section__content
      .main__section__content__box
        %form.main__setion__content__box__form
          -# = form_for(@user,url:signout_path) do |f|
          -#   =render '/', {model:@user}
          -#   %p
          -#     = f.label :name
          -#     = f.text_field :name
          -#   %p
          -#   = f.label :email
          -#   = f.text_field :email
          -#   %p
          -#   = f.label :password
          -#   = f.text_field :password
          -#   %p
          -#   = f.label :passwordconfirmation
          -#   = f.text_field :passwordconfirmation  
          .main__section__content__box__form__logout
            =link_to destroy_user_session_path ,class:'logout-link' do
              %button.main__section__content__box__form__logout__button
                ログアウト
        

= render 'shared/camera'

= render 'shared/footer' 
