%ul.brand
  %li.brand__menu
    = link_to 'https://www.mercari.com/jp/', class: 'list' do
      シャネル

  -# %li.brand__menu
  -# 　　= link_to 'https://www.mercari.com/jp/' class: 'list' do
  -#     ナイキ
  -# %li.brand__menu
  -# 　　= link_to 'https://www.mercari.com/jp/' class: 'list' do
  -#     ルイヴィトン
  -# %li.brand__menu
  -# 　　= link_to 'https://www.mercari.com/jp/' class: 'list' do
  -#     シュプリーム
  -# %li.brand__menu
  -# 　　= link_to 'https://www.mercari.com/jp/' class: 'list' do
  -#     アディダス
  -# %li.brand__menu
  -# 　　= link_to 'https://www.mercari.com/jp/' class: 'list' do
  -#     ブランド一覧