-# %ul.category__menu
-#   %li.category__menu__list
-#     = link_to 'https://www.mercari.com/jp/', class: 'link' do
-#       レディース


-# %ul.category
-#   %li.category__menu
-#     = link_to 'https://www.mercari.com/jp/' class: 'list' do
-#     %ul
-#       %li.category__menu__items
-#       = link_to 'https://www.mercari.com/jp/' class: 'list' do
-#       %ul
-#         %li.category__menu__items__details
-#         = link_to 'https://www.mercari.com/jp/' class: 'list' do
