.all-category
  %ul.all-category__first{id: :left}
    - @parents.each do |parent|
      .all-category__first__type{value:"#{parent.id}"}
        = link_to category_path(parent.id), class: 'category_first' do
          = parent.genre
    -# %li.all-category__first__type
    -#   = link_to '#', class: 'category_first' do
    -#     カテゴリー一覧
  %ul.all-category__second{id: :center}

  %ul.all-category__third{id: :right}
