.gray-header
  %h1.gray-header__topbar
    = link_to '#', class: 'gray-header__topbar__main' do
      = image_tag "mercari_widelogo.png", alt: "Mercari", class: "gray-header__topbar__main--logo"

.gray-header-shrink
  %h1.gray-header-shrink__main
    = link_to '#', class: 'gray-header-shrink__main__bar' do
      = image_tag "mercari_widelogo.png", alt: "Mercari", class: "gray-header-shrink__main__bar--logo"
