.products
  %h1.products__topbar
    = link_to '#', class: 'products__topbar__main' do
      = image_tag "mercari_widelogo.png", alt: "Mercari", class: "products__topbar__main--logo"

.shrink
  %h1.shrink__main
    = link_to '#', class: 'shrink__main__bar' do
      = image_tag "mercari_widelogo.png", alt: "Mercari", class: "shrink__main__bar--logo"
