.announce
  %nav.announce__top
  = link_to '#', class: 'announce__middle' do
    = image_tag 'mercari_logo_gray.svg', class: 'announce__middle--logo'
  %p.announce__under
    %small.announce__under__text
      © 2019 Mercari