.wizard
  %ul.wizard__texts
    %li.wizard__texts__process.red
      会員情報　
    %li.wizard__texts__process
      電話番号認証
    %li.wizard__texts__process
      お届け先住所入力
    %li.wizard__texts__process
      支払い方法　　　
    %li.wizard__texts__process
      完了
  %ul.wizard__bar
    %li.wizard__bar__ball.red
    %li.wizard__bar__line
    %li.wizard__bar__ball
    %li.wizard__bar__line
    %li.wizard__bar__ball
    %li.wizard__bar__line
    %li.wizard__bar__ball
    %li.wizard__bar__line
    %li.wizard__bar__ball