.bread_crumbs {
  position: relative;
  margin: 0 auto;
  border-top: 1px solid #eee;
  background: #fff;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  &__line{
    list-style: none;
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0; 
    color: #333;
    text-decoration: #333;
  }
  
.breadcrumbs-list a{
color: #333;
text-decoration: none;
font-size: 14px;
margin-right: 5px;
}
.breadcrumbs-list i{
  color: #888;
  font-size: 12px;
  margin: 0 8px;
} 

.breadcrumbs-list span {
  font-weight: bold;
  margin-left: 5px;
}
}
.item-show{
  background-color: transparent;
}
