.camera {
  position: fixed;
  left: 50%;
  z-index: 2;
  display: flex;
  bottom: 30px;
  margin-top: 60px;
  margin-left: 400px;
  .link {
    text-decoration: none;
  }
  &__main {
    width: 155px;
    height: 130px;
    padding-top: 25px;
    background-color: #FF0211;
    border-color: #FF0211;
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
      &__text {
      text-align: center;
      color: white;
      font-size: 20px;
    }
    &__mark {
      padding-top: 8px;
      font-size: 60px;
      text-decoration: none;
      .icon {
        display: block;
        text-align: center;
        color: white;
      }
    }
  }
}
