.all-category {
    position: absolute;
    display: none;
    text-align: left;
    text-decoration: none;
    &__first {
        display: none;
        position: absolute;
        cursor:pointer;
        height: 617px;
        width: 224px;
        color: black;
        background-color: white;
        .category_first {
            color: black;
            text-decoration: none;
            font-size: 14px;
            line-height: 44px;
            padding-left: 16px;
          }
        &__type {
            display: none;
            font-size: 10px;
            font-weight: none;
            color: #222222;
            display: block;
            &:hover ul.all-category__second {
                overflow: visible;
                opacity: 1;
            }
            &:hover {
                text-decoration: none;
                background-color: #FF0211;
                .category_first {
                    color: #FFF;
                }
            }
        }
    }
    &__second {
        text-decoration: none;
        display: none;
        position: absolute;
        left: 224px;
        height: 617px;
        width: 224px;
        background-color: white;
        cursor: pointer;
        .link {
          text-decoration: none;
          color: black;
        }
        .category-child {
          text-decoration: none;
          padding-left: 16px;
          &:hover {
            background-color: #EEEEEE;
            }
        }
    }
    &__third {
        text-decoration: none;
        display: none;
        position: absolute;
        left: 448px;
        width: 320px;
        height: 617px;
        background-color: white;
        cursor: pointer;
        .link {
          color: black;
          text-decoration: none;
        }
        .category-gchild {
          text-decoration: none;
          padding-left: 16px;
          &:hover {
          background-color: #EEEEEE;
        }
      }
    }
}