*::-webkit-any-link{
  display: none;
  text-decoration: none;
}

.topbar {
  margin: 0 auto;
  padding: 8px 0 0;
  width: 80%;
  .main {
    height: 50px;
    display: flex;
    justify-content: space-between;
    &__icon {
      display: flex;
      align-items: center;
      text-decoration: none;
      height: 50px;
      margin-right: 45px;
      &--logo {
        height: 50px;
        width: 165px;
      }
    }
    &__search {
      width: 100%;
      height: 100%;
      &__form {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: gainsboro;
        &--folder {
          width: 100%;
          height: 100%;
          background-color: gainsboro;
        }
        &--push {
          background-color: gainsboro;
          height: 50px;
          position: absolute;
          right: 0px;
          top: 0px;
          width: 50px;
        }
        .icon {

        }
      }
    }
  }
  .under {
    display: flex;
    justify-content: space-between;
    .choice {
      display: flex;
      &__example {
        &--button {
          .icons {

          }
        }
        &--list {

        }
      }

    }
    .sign {
      display: flex;
      &__new {
        &--buttun {

        }
      }
      &__login {
        &--button {

        }
      }
    }
  }
}