*::-webkit-any-link {
    display: none;
    text-decoration: none;
}

header {
    padding: 0 5%;
    height: 110px;
    position: relative;
    background-color: white;
    z-index: 3;
    box-shadow: #AAAAAA 0 0 5px;
    .topbar {
        height: 100%;
        margin: 0 auto;
        padding: 8px 0 0;
        &__main {
            left: 0;
            align-items: center;
            display: flex;
            justify-content: space-between;
            &__icon {
                display: block;
                align-items: center;
                text-decoration: none;
                height: 50px;
                margin-right: 45px;
                &--logo {
                    height: 50px;
                    width: 165px;
                }
            }
            &__search {
                width: 100%;
                height: 40px;
                position: relative;
                &__form {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    &--folder {
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                        background-color: #eeeeee;
                        font-size: 14px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: gray;
                        padding-left: 10px;
                        padding-right: 5px;
                    }
                    &--push {
                        background-color: #eeeeee;
                        height: 38px;
                        width: 40px;
                        position: absolute;
                        right: 3px;
                        top: 0px;
                        bottom: 0;
                        font-size: 14px;
                        border: none;
                        margin-top: 1px;
                        border-radius: 5px;
                        .icon {
                            color: #777777;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        &__under {
            text-decoration: none;
            align-items: center;
            height: 32px;
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            &__left {
                height: 32px;
                text-decoration: none;
                line-height: 32px;
                display: flex;
                padding-left: 0px;
                &__choice {
                    text-align: center;
                    text-decoration: none;
                    position: relative;
                    z-index: 3;
                    padding-right: 20px;
                    &:hover ul.topbar__under__left__choice__example__list {
                      top: 42px;
                      visibility: visible;
                      opacity: 1;
                    }
                    &__example {
                        height: 32px;
                        line-height: 30px;
                        right: 0;
                        color: black;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: bold;
                        text-decoration: none;
                        position: relative;
                        .link {
                            color: black;
                            text-decoration: none;
                        }
                        .link:hover {
                            color: #4DC9FF;
                            text-decoration: none;
                            display: block;
                        }
                        .icons {
                            color: #FF0211;
                            font-size: 12px;
                            margin-right: 4px;
                            font-size: 1em;
                        }
                        &__list {
                            position: absolute;
                            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
                            top: 40px;
                            opacity: 0;
                            z-index: 1;
                            left: 0;
                            width: 100%;
                            background-color: white;
                            &__type {
                                position: relative;
                                top: 0;
                                margin-left: 0;
                                height: 616px;
                                font-size: 16px;
                                font-weight: none;
                                color: #222222;
                                &:hover ul.topbar__under__left__choice__example__list__type__category {
                                  top: 42px;
                                  visibility: visible;
                                  opacity: 1;
                                }
                                &:hover {
                                  background-color: #FF0211;
                                }
                                .show {
                                  opacity: 1;
                                }
                                &__category {
                                  position: absolute;
                                  opacity: 0;
                                  top: 40px;
                                  z-index: 1;
                                  left: 100%;
                                  width: 100%;
                                  background-color: white;
                                  &__menu {
                                    position: relative;
                                    top: 0;
                                    margin-left: 0;
                                    height: 616px;
                                    font-size: 16px;
                                    font-weight: none;
                                    color: #222222;
                                    .show {
                                      opacity: 1;
                                    }    
                                    &:hover {
                                      background-color: #EEEEEE;
                                    }
                                    &:hover ul.topbar__under__left__choice__example__list__type__category__menu__final {
                                      top: 42px;
                                      visibility: visible;
                                      opacity: 1;
                                    }
                                    &__final {
                                      position: absolute;
                                      opacity: 0;
                                      top: 40px;
                                      left: 100%;
                                      width: 100%;
                                      height: 616px;
                                      background-color: white;
                                      &__page {
                                        text-decoration: none;
                                        position: relative;
                                        top: 0;
                                        margin-left: 0;
                                        height: 616px;
                                        font-size: 16px;
                                        font-weight: none;
                                        color: #222222;
                                        visibility: visible;
                                        .show {
                                          opacity: 1;
                                        }        
                                        &:hover {
                                          background-color: #EEEEEE;
                                        }
                                      }
                                    }
                                  }
                                }
                            }
                        }
                    }
                }
            }
            &__right {
                height: 32px;
                text-decoration: none;
                line-height: 32px;
                display: flex;
                &__contents {
                    position: relative;
                    line-height: 30px;
                    display: inline-block;
                    left: 0;
                    .link {
                        text-decoration: none;
                    }
                    .login {
                        display: block;
                        right: 0;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        margin-left: 11px;
                        padding: 0 10px;
                        font-size: 14px;
                        position: relative;
                        background-color: white;
                        text-decoration: none;
                        color: #4DC9FF;
                        border-radius: 5px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #4DC9FF;
                    }
                    .login:hover {
                        right: 0;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        margin-left: 11px;
                        padding: 0 10px;
                        font-size: 14px;
                        position: relative;
                        text-decoration: none;
                        color: #4DC9FF;
                        border-radius: 5px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #4DC9FF;
                        text-decoration: none;
                        color: white;
                        background-color: #4DC9FF;
                    }
                    &__user {
                        padding-left: 20px;
                        font-size: 15px;
                        font-weight: none;
                        position: relative;
                        .link {
                            color: #555555;
                            text-decoration: none;
                        }
                        .link:hover {
                            color: #4DC9FF;
                            text-decoration: none;
                        }
                    }
                    &__list {
                        width: 100%;
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        height: 100%;
                        position: relative;
                        line-height: 30px;
                        &--text-red {
                            height: 30px;
                            text-align: center;
                            line-height: 30px;
                            font-size: 14px;
                            padding: 0 10px;
                            background-color: #FF0211;
                            text-decoration: none;
                            color: white;
                            border-radius: 5px;
                            border-width: 1px;
                            border-style: solid;
                            border-color: #FF0211;
                        }
                    }
                }
            }
        }
    }
}

.narrow {
    position: sticky;
    top: 0px;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding-top: 6px;
    width: 100%;
    &__top {
        min-height: 36px;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 0px 10px;
        &__icon {
            &--logo {
                width: 132px;
                vertical-align: middle;
            }
        }
        &__user {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            .link {
                display: block;
                line-height: 26px;
                text-align: center;
                color: rgb(255, 255, 255);
                border-width: 1px;
                border-style: solid;
                border-image: initial;
                border-radius: 4px;
                padding: 0px 6px;
                background: rgb(234, 53, 45);
                border-color: rgb(234, 53, 45);
                text-decoration: none;
                span {
                    font-size: 14px!important;
                }
            }
            .login {
                display: block;
                line-height: 26px;
                text-align: center;
                color: rgb(0, 149, 238);
                margin-left: 6px;
                border-width: 1px;
                border-style: solid;
                border-image: initial;
                border-radius: 4px;
                padding: 0px 6px;
                background: rgb(255, 255, 255);
                border-color: rgb(0, 149, 238);
                text-decoration: none;
                span {
                    font-size: 14px!important;
                }
            }
        }
    }
    &__middle {
        padding: 0px 10px 8px;
        &__form {
            position: relative;
            &--folder {
                background-color: rgb(245, 245, 245);
                font-size: 16px;
                height: 40px;
                line-height: 1.4em;
                position: relative;
                width: 100%;
                -webkit-appearance: none;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(204, 204, 204);
                border-image: initial;
                border-radius: 4px;
                outline: none;
                padding: 0px 50px 0px 10px;
                transition: all 0.3s ease-out 0s;
            }
            &--push {
                background-color: transparent;
                cursor: pointer;
                height: 40px;
                position: absolute;
                right: 0px;
                top: 0px;
                width: 40px;
                -webkit-appearance: none;
                border-width: initial;
                border-style: none;
                border-color: initial;
                border-image: initial;
                border-radius: 0px 4px 4px 0px;
                padding: 0px;
                a {
                    color: black;
                }
            }
        }
    }
    &__bottom {
        display: flex;
        .link {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            height: 42px;
            -webkit-box-pack: center;
            justify-content: center;
            width: 50%;
            padding-bottom: 4px;
            text-decoration: none;
            .icons {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                color: red;
                margin-right: 5px;
            }
            span {
                color: black;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

@media (min-width: 375px) {
    .narrow__top__user a.link,
    .narrow__top__user a.login {
        line-height: 30px;
        padding: 0px 10px;
    }
}

@media (min-width: 768px) {
    .narrow {
        display: none;
    }
}

@media (max-width: 767px) {
    header {
        display: none;
    }
}