.content-area{
  background: #fff;
  margin: auto;
  display: block;
  background-repeat: no-repeat;
  border-width: 0;
  .content__left{
    float: left;
    width: 280px;
    margin-right: 80px;
  :css
    .content__left__list{
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
    }
    .content__left__mypage{
      list-style: none;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      border-style: solid;
      border-width: 0;
      font-size: inherit;
      line-height: inherit;
      box-sizing: inherit;
      display: block;
      cursor: auto;
      font: 66.66667% sans-serif;
      border-style: solid;
      text-decoration: inherit;
      box-sizing: inherit;
      border-style: solid;
      border-width: 0;
    }
      .list__mypage{
        @extend .list__news;
      }
      .list__news{
        position: relative;
        display: block;
        height: 50px;
        padding: 16px;
        margin: 1px;
        background: #fff;
        font-size: 14px;
        color: #333;
        // text-decoration: none;
        touch-action: manipulation;
        border-style: solid;
        line-height: inherit;
        box-sizing: inherit;
        text-align: -webkit-match-parent;
        list-style: none;
        display: flex;
        justify-content: space-between;
        a{
          text-decoration: none;
          color: #333;
        }
        .icon {
          position: relative;
          font-size: 22px;
        }
      }
      .list__todolist{
        @extend .list__news;
      }
      .list__goodjob{
        @extend .list__news;
      }
      .list__exhibit{
        @extend .list__news;
      }
      .list__exhibitnow{
        @extend .list__news;    
      }
      .clist__transactionnow{
        @extend .list__news;  
      }
      .list__transactionend{
        @extend .list__news;
      }
      .list__buynow{
        @extend .list__news;
      }
      .list__buyend{
        @extend .list__news;
      }
      .clist__newslist{
        @extend .list__news;
      }
      .list__evaluation{
        @extend .list__news;
      }
      .list__guide{
        @extend .list__news;
      }
      .list__contact{
        @extend .list__news;
      }
      .content__left__merpay{
        margin: 40px 0 0;
        font-size: 16px;
        background-repeat: no-repeat;
        padding: 0;
        border-style: solid;
        border-width: 0;
        line-height: inherit;
        box-sizing: inherit;
        display: block;
        font-weight: bold;  
        color: #333;
        cursor: auto;
      }
      .merpay__list{
        margin: 0;
        list-style: none;
        background-repeat: no-repeat;
        padding: 0;
        border-style: solid;
        border-width: 0;
        font-size: inherit;
        line-height: inherit;
        box-sizing: inherit;
        display: block;
        color: #333;

        .merpay__transfer{
          @extend .list__news;
        }
        .merpay__point{
          @extend .list__news;
        }
      } 
    }

    .content__left__config{
        @extend .content__left__merpay;
    }
    .config__lisut{
      .config__profile{
        @extend .list__news;
      }
      .config__address{
        @extend .list__news;
      }
      .config__payment{
        @extend .list__news;
      }
      .config__passmail{
        @extend .list__news;
      }
      .config__person{
        @extend .list__news;
      }
      .config__tell{
        @extend .list__news;
      }
      .config__logout{
        @extend .list__news;
      }
    }
}