-# 商品購入完了画面
= render 'shared/header'
%section.buy-done
  .main__section
    = render 'shared/user_sidebar'
    .main__section__content
      .main__section__content__box
        .main__section__content__box__buy
          %h2.main__section__content__box__buy__text
            購入が完了しました！
          .main__section__content__box__buy__name
            ブランド 空箱 5個セット
          .main__section__content__box__buy__price
            1,100円(税込)
        .main__section__content__box__buy__logout
        =link_to root_path ,class:'logout-link' do
          %button.main__section__content__box__buy__logout__button
            トップページに戻る

= render 'shared/camera'

= render 'shared/footer' 
""
