.contents
  .contents__thema
    %h2.contents__attention 
      = "人気のカテゴリ"
    .cointents__attention__object
    %ul.contents__attention__box
      %li.contents__attention__name
        %a(href='https://www.mercari.com/jp/')
          レディース
      %li.contents__attention__name
        %a(href='https://www.mercari.com/jp/')
          メンズ
      %li.contents__attention__name
        %a(href='https://www.mercari.com/jp/')
          家電・スマホ・カメラ
      %li.contents__attention__name
        %a(href='https://www.mercari.com/jp/')
          おもちゃ・ホビー・グッズ
  contents
      
