-# aタグのURLは仮置きのため#undefinedを入力しています
-# .main-itemsクラスのレディース新着アイテムの「もっとみる＞」はクリックするとレディースの商品一覧に飛びます
.content-main
  .main__header
    %h2.main__header__name
      = "人気のカテゴリ"
    .main__header__block
    %ul.main__header__block__menu
      -# -categories.each |do|
      -#   %li.main__header__block__name
      -#     = link_to "#category.name do
      -#       = category.name
      %li.main__header__block__menu__name
        =link_to "#category.name", class:"link" do
          レディース
      %li.main__header__block__menu__name
        =link_to "#category.name", class:"link" do
          メンズ
      %li.main__header__block__menu__name
        =link_to "#category.name", class:"link" do
          家電・スマホ・カメラ
      %li.main__header__block__menu__name
        =link_to "#category.name", class:"link" do
          おもちゃ・ホビー・グッズ
.main-items
  -# ここでrender
  .items__content
    .items__content__block
      %h3.items__content__block__name
        category.name新着アイテム
      .items__content__block__description
        =link_to "https://www.mercari.com/jp/category/1/" do
          もっと見る
        =link_to "https://www.mercari.com/jp/category/1/" do
          -# ">"はfont-awesomeのように見えた。コードは書いたが、application.scssファイルは未編集です。（川崎は@import " font-awesome ";は未入力）
          %i.fas.fa-angle-right
    -# ここは_item.html.hamlをrenderします
    .items
      =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
        .item
          .item__box
            =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image"
            .item__box__price
              item.price
          .item__text
            item.text