=render "shared/header"
.search.clearfix
  .search__body__sidebar
    =render "shared/itemsearch_sidebar"
  .search__body__content
    .search__body__content__items
      -@items.each do |item|
        = render partial:"shared/item", locals: { item: item }
=render "shared/footer"
=render "shared/camera"
