%section.new
  =render 'shared/header'
  .new__main__section
    .new__main__section__side
      =render 'shared/user_sidebar'
    .new__main__section__content
      .new__main__section__content__box
        .new__main__section__content__box__title
          %p.new__main__section__content__box__title__text
          支払い方法
        .new__main__section__content__box__card
          %h3.new__main__section__content__box__card__text
            クレジットカード一覧
          .new__main__section__content__box__card__add
            %button.new__main__section__content__box__card__add__button
              =fa_icon 'credit-card',  class:"card-icon"
              %p.new__main__section__content__box__card__add__button__text
              　クレジットカードを追加する
          .new__main__section__content__box__card__add__pay
            =link_to "cards_create_path"  , class:"pay-link" do
              %p.new__main__section__content__box__card__add__pay_text
              支払い方法について
              = fa_icon 'angle-right', class:"right-icon"
=render 'shared/camera'
=render 'shared/footer'
