.new {
    &__main__section {
        margin: 40px auto 0;
        width: 1020px;
        height: 1292px;
        display: flex;

        &__content {
            width: 700px;
            height: 50px;
            height: 358px;
            background-color: white;

            &__box {
                &__title {
                    text-align: center;
                    line-height: 1.4;
                    padding: 12px 4%;
                    border-bottom: 1px solid #f5f5f5;
                    font-size: 24px;
                    font-weight: bold;

                    &__text {
                        font-weight: bold;
                    }
                }

                &__card {
                    border-top: 1px solid #f5f5f5;
                    padding: 64px;
                    height: 308px;

                    &__text {
                        font-size: 16px;
                        font-weight: bold;
                        margin-left: 16px;
                        width: 320px;
                        height: 15px;
                        margin: 0 auto;
                    }

                    &__add {
                        border-bottom: 1px solid #eee;
                        margin: 0;
                        padding: 24px 0;

                        &__button {
                            width: 320px;
                            height: 50px;
                            background-color: #ea352d;
                            color: white;
                            display: flex;
                            margin: 0 auto;
                            cursor: pointer;

                            &__text {
                                text-align: center;
                                &__p{
                                  color:white;
                                }
                            }
                        }

                        &__pay {
                            margin: 40px 0 0;
                            font: 14px;
                            width: 572px;
                            height: 16px;
                            text-align: right;
                            color: #0099ee;
                        }
                    }
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: #333;
        width: 572px;
        height: 16px;
        display: inline;
    }


    .card-icon {
        margin-left: 50px;
        display: inline-block;
        font-weight: bold;
        font-variant: normal;
        line-height: 1;
        font-size: 20px;
    }

    // .pay-link {
    //     width: 572px;
    //     height: 16px;
    // }

    .right-icon {
        font-weight: bold;
    }
}
