.search {
    display: flex;
    justify-content: space-between;
    margin: 40px auto 40px;
    width: 1020px;
    &__body {
        padding: 0 0 40px;
        &__sidebar {
            margin: 0 40px 0 0;
        }
        &__content {
            width: 700px;
            &__items {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 12px 12px;
            }
        }
    }
}