//商品詳細ページ
.show {
    margin: 40px auto 0;
    padding: 24px 40px 40px;
    width: 700px;
    a {
        color: #0099e8;
        text-decoration: none;
    }
    // 商品詳細の情報
    .item__content {
        padding: 24px 40px 40px;
        bottom: 10px;
        background-color: white;
        width: 700px;
        margin: 40px auto;
        position: relative;
        &__name {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            word-wrap: break-word;
            line-height: 1.4;
        }
        &__main {
            margin: 16px 0 0;
            &__text {
                margin: 8px 0 8px;
                font-size: 14px;
                color: #888;
                line-height: 1.5;
            }
            &--large__photo {
                float: left;
                min-width: 300px;
                max-width: 300px;
                min-height: 375px;
                margin: 0 auto;
                background: #fafafa;
                &__box {
                    width: 300px;
                    height: 300px;
                    vertical-align: middle;
                    position: relative;
                    line-height: 300px;
                    .soldout-pic {
                        position: absolute;
                        z-index: 2;
                        width: 40%;
                        height: 40%;
                        div {
                            position: absolute;
                            top: -110px;
                            font-size: 25px;
                            left: 0;
                            z-index: 3;
                            color: #fff;
                            -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                            letter-spacing: 2px;
                            font-weight: 600;
                        }
                    }
                    .soldout-pic:after {
                        border-width: 120px 120px 0 0;
                        border-color: #ea352d transparent transparent transparent;
                        display: block;
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        width: 0;
                        height: 0;
                        border-style: solid;
                    }
                }
                &__list {
                    width: 300px;
                    float: left;
                    &-one {
                        width: 60px;
                        height: 60px;
                        float: left;
                        display: block;
                    }
                }
            }
        }
        // 商品画像の写真とテーブル
        .item__main__photo {
            max-width: 300px;
            max-height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
        &__main__table {
            float: right;
            max-width: 300px;
            height: 420px;
            margin: 0 auto;
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #f5f5f5;
            border-spacing: 0;
            &__tbody {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                &__tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;
                    &__th {
                        width: 120px;
                        background: #fafafa;
                        border-collapse: collapse;
                        border: 1px solid #f5f5f5;
                        text-align: left;
                        display: table-cell;
                        vertical-align: middle;
                        padding-left: 5px;
                    }
                    &__td {
                        width: 180px;
                        max-width: 180px;
                        background: #fff;
                        border-collapse: collapse;
                        border: 1px solid #f5f5f5;
                        display: table-cell;
                        padding: 8px;
                        &__name {
                            margin: 0;
                            display: block;
                            max-width: 163px;
                            word-wrap: break-word;
                        }
                        &__valuation {
                            display: block;
                            &__ratings:first-child {
                                margin: 0;
                            }
                            &__ratings {
                                display: inline-block;
                                margin: 8px 0 0 16px;
                            }
                            &__number {
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
        // テーブル出品者の評価 いいね
        .rating-good {
            font-size: 16px;
            vertical-align: middle;
            color: #FF3399;
            margin: 0;
        }
        // テーブル出品者の評価 普通
        .rating-usual {
            font-size: 16px;
            vertical-align: middle;
        }
        // テーブル出品者の評価 悪い
        .rating-bad {
            font-size: 16px;
            vertical-align: middle;
            color: #33CCFF;
        }
        // 商品の金額
        &__price__box {
            margin: 24px 0 0;
            font-size: 50px;
            text-align: center;
            &__value {
                font-weight: 600;
            }
            &__tax {
                font-size: 10px;
            }
            &__fee {
                display: inline-block;
                font-size: 16px;
            }
            &__item__buy__btn {
                display: block;
                margin-top: 16px;
                background: #ea352d;
                color: #fff;
                text-align: center;
                font-weight: 600;
                transition: all ease-out .3s;
                font-size: 24px;
                line-height: 60px;
            }
            &__item__buy__btn.sold-out {
                background: #888;
                cursor: not-allowed;
            }
        }
        // 商品の説明
        &__description {
            padding: 32px 0 0;
            font-size: 18px;
            &__inner {
                white-space: pre-wrap;
                margin-bottom: 0;
            }
        }
        // 商品説明下部のボタン（いいね、不適切報告、あんしんあんぜん）
        &__button__container {
            margin: 16px 0 0;
            font-size: 0;
            height: 33px;
            &__left {
                float: left;
                &__item {
                    display: inline-block;
                    padding: 8px 16px;
                    border-radius: 40px;
                    color: #333;
                    border: 1px solid #f5f5f5;
                    background: #f5f5f5;
                    &__good {
                        font-size: 14px;
                        display: inline-block;
                        margin: 1px 0 0 8px;
                        vertical-align: middle;
                    }
                }
                &__report {
                    display: inline-block;
                    padding: 8px 16px;
                    margin: 0 0 0 16px;
                    border-radius: 40px;
                    color: #333;
                    border: 1px solid #f5f5f5;
                    background: #f5f5f5;
                    &__not {
                        margin: 1px 0 0 8px;
                        vertical-align: middle;
                        font-size: 14px;
                        display: inline-block;
                    }
                }
            }
            &__right {
                margin: 8px 0 0;
                float: right;
                width: 240px;
                height: 40px;
                i {
                    display: inline-block;
                }
                &__effort {
                    font-size: 14px;
                    display: inline-block;
                    margin: 1px;
                    vertical-align: middle;
                }
            }
        }
        // いいねアイコンについて
        .icon-link {
            font-size: 14px;
            vertical-align: middle;
        }
        // 不適切商品の報告アイコンについて
        .report-link {
            display: inline-block;
            color: black;
        }
        // あんしんあんぜん取り組みのアイコンについて
        .right-link {
            width: 240px;
            height: 40px;
        }
        .clearfix:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    // ユーザーのみのメニュー
    .user {
        width: 700px;
        margin-bottom: 30px;
        background: white;
        &__buttons {
            padding: 24px;
            text-align: center;
            font-size: 14px;
            &__link {
                display: block;
                width: 100%;
                height: 50px;
                color: #f5f5f5;
                font-size: 0;
                text-align: center;
                background: #ea352d;
                font-size: 14px;
                line-height: 50px;
                color: white;
            }
            &__link.grey {
                background: #aaa;
                margin: 15px 0 0;
            }
            &__or {
                font-size: 18px;
                margin-top: 15px;
            }
        }
    }
    //  コメント
    .message {
        width: 700px;
        &__box__content {
            background: white;
            margin-top: 10px;
            width: 100%;
            height: auto;
            padding: 24px;
            &__announce {
                display: block;
                font-size: 14px;
                background: #FFF6DE;
                padding: 8px;
            }
            &__form {
                margin: 8px 0 0;
                display: block;
                width: 100%;
                max-width: 100%;
                min-height: 104px;
                padding: 10px;
                border: 1px solid #ccc;
                background: #fff;
                font-size: 16px;
                line-height: 1.5;
            }
            &__btn {
                width: 100%;
                height: 50px;
                margin: 8px 0 0;
                font-size: 0;
                text-align: center;
                background: #aaa;
                border: 1px solid #aaa;
                &__text {
                    font-size: 14px;
                    vertical-align: middle;
                    color: white;
                    margin: 40px 159.5px;
                }
            }
        }
    }
    .nav__item__link {
        width: 700px;
        height: 14px;
        margin: 24px auto 0;
        &-prev {
            float: left;
            padding: 0;
        }
        &-next {
            float: right;
        }
    }
    // ソーシャルメディアのリンク
    li {
        display: list-item;
        display: inline;
    }
    .media__box {
        margin: 24px auto;
        padding: 32px 0 24px;
        background: #fff;
        width: 700px;
        height: 138px;
        &__center {
            text-align: center;
            &__icon {
                margin: 16px 0 0;
                text-align: center;
                &__facebook {
                    width: 44px;
                    height: 44px;
                    border-radius: 4px;
                    line-height: 44px;
                    font-size: 26px;
                }
                &__facebook-i {
                    font-size: 2em;
                    color: #385185;
                }
                &__twetter {
                    width: 44px;
                    height: 44px;
                    border-radius: 4px;
                    line-height: 44px;
                    font-size: 26px;
                }
                &__twetter-i {
                    font-size: 2em;
                }
                &__pinterest {
                    width: 44px;
                    height: 44px;
                    border-radius: 4px;
                    line-height: 44px;
                    font-size: 26px;
                }
                &__pinterest-i {
                    font-size: 2em;
                    color: #dc143c;
                }
            }
        }
    }
    // ”ユーザー”で引っ張ってきたアイテム
    .user-items--another {
        &__items__content {
            width: auto;
            height: auto;
            &__name {
                font-size: 24px !important;
                font-weight: 600;
                margin-bottom: 8px;
            }
            &__block {
                width: 700px;
                margin-bottom: 16px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 6px 6px;
            }
        }
    }
}

.detail {
    width: 220px;
    height: 330px;
    margin: 0 20px 20px 0;
    position: relative;
    float: left;
    background-color: white;
    &__photo {
        width: 220px;
        height: 220px;
        padding: 0 0 100%;
    }
    &__text {
        padding: 16px;
        height: 110px;
        &__name {
            overflow: hidden;
            position: relative;
            font-weight: 400;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;
            font-size: 16px;
            color: black;
        }
        &__elements {
            display: inline-block;
            // -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            margin: 8px 0 0;
            width: 188px;
            height: 16px;
            &__price {
                font-size: 16px;
                font-weight: 600;
                color: #333;
            }
            &__value {
                display: flex;
                float: right;
                font-size: 16px;
                font-weight: 400;
                color: #333;
                &__like {}
                &__number {
                    margin-left: 5px;
                }
            }
        }
    }
    // ”ユーザー商品出品情報”の写真について
    .detail_photo {
        width: 220px;
        height: 220px;
    }
}